.page-content{
    width: 1200px;
    height :auto;
    margin: 100px auto;
}

.page-content .main-content{
    width: 800px;
    float: left;
    border-right: 1px solid black;
}

.page-content .other-content{
    width: 350px;
    float: left;
    padding: 10px;
}

.category{
    display: inline-block;
    padding: 5px;
    background-color: #c7cee3;
    margin: 5px 0 0 1px;
    border-radius: 2px;
    color: #17276f;
}

.category:hover{
    transition:background-color 0.3s ease;
    background-color: #a9c4ec;
    transition:color 0.5s ease;
    color: #2f45b9;
}

.heading{
    font-weight: bold;
    padding: 10px 0px 5px 0;
    border-bottom: 1px solid black;
}
