.site-footer{
    height: 100px;
    width: 100%;
    float: left;
    top: 0px;
}

.site-footer .wrapper{
    border-top: 2px grey solid;
    text-align: center;
    padding :10px;
}

.site-footer-twitter-icons-title:hover{
    color: #198bbb;
    text-decoration: none;
}

.site-footer-facebook-icons-title{
    color: #2153a8;
}

.site-footer-facebook-icons-title:hover{
    color: #3d6ab8;
    text-decoration: none;
}

.tag{
    display: inline-block;
}

.footer-layer-1{
    background-color: lightgrey;
    width: 70%;
    margin: 0 auto;
}

.footer-layer-2{
    margin-top: 20px;
}
