.site-header{
    left: 200px;
}

.header-of-header{
    width: 99%;
    height: 100px;
    border-bottom: 2px grey solid;
    position:fixed;
    top:0px;
    z-index: 999;
    background-color: steelblue;

}

.smaller {
    height: 75px;
    transition: all 0.3s ease;
    background-color: #156394;
}

.smaller .site-title{
    transition: all 0.3s ease;
    font-size: 24px;
    margin-left: 300px;
}

.smaller .site-name{
    transition: margin-top 0.3s ease;
    height: 30px;
    margin-top: 40px;
}

.bigger{
    transition: background-color 0.3s ease;
    background-color: steelblue;
    transition: height 0.2s ease;
    height: 100px;
}

.bigger .site-title{
    transition: font-size 0.3s ease;
    font-size: 30px;
}
