body{
    font-family: sans-serif;
}

.header-of-header .site-title{
    padding : 20px;
    display: flex;
    height: 40px;
    width: 200px;
    font-size: 30px;
    margin-left: 300px;
    float: left;
    color : white;
}

.header-of-header .site-name{
    float: left;
    margin-left: 500px;
    height: 30px;
    margin-top: 60px;
    color : white;
}

.header-of-header a{
    text-decoration: none;
    color: white;
}

.header-of-header a:hover{
    color: black;
    text-decoration: none;
}

.post-link{
    color: #47464e;
    font-size: 28px;
    text-decoration: none;
    margin-left: 10px;
}
.post-link:hover{
    transition: color 0.4s ease;
    color: steelblue;
}

.home{
    padding: 30px ;
}

.post-date{
    font-size: 14px;
    margin-left: 10px;
    color: #0f109d;
}

.post-meta{
    padding-bottom: 20px;
}

.post-head{
    border-left: 5px solid black;
}

.post-description{
    margin-left: 20px;
}
