<div class="site-footer">
    <div class="post-categories">
        <label > Tags </label>
         {% for tag in site.tags %}
            <div class="tag"> {{ tag[0] }} </div>
         {% endfor %}
    </div>
  <div class="wrapper">
      <div>
          <a class="" href="http://twitter.com/{{site.twitter_username}}">
              <span class="site-footer-twitter-icons-title">Twitter</span>
          </a>
          <a class="" href="http://facebook.com/{{site.facebook_username}}">
              <span class="site-footer-facebook-icons-title">Facebook</span>
          </a>
        <div>{{ site.description }}</div>

      </div>
  </div>
</div>
