<div class="site-footer">
  <div class="wrapper">
      <div class="footer-layer-1">
          {% for tag in site.tags %}
              <div class="tag"> {{ tag[0] }} </div>
          {% endfor %}
      </div>
      <div class="footer-layer-2">Connect:
          <a class="site-footer-twitter-icons-title" href="http://twitter.com/{{site.twitter_username}}">
              Twitter
          </a>|
          <a class="site-footer-facebook-icons-title" href="http://facebook.com/{{site.facebook_username}}">
              Facebook
          </a>
      </div>

  </div>
</div>
