<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="left-block">
          {{ content }}
          {% include comments.html %}
      </div>
      <div class="right-block">
          <h3 style="margin-left:20px;">Posts related to :<font color="blue">{{ page.categories | array_to_sentence_string }}</font></h3>
          {% for post in site.categories.blog %}
              <a href="{{ post.url | prepend: site.baseurl }}"><div class="related-posts">{{ post.title }} ... </div></a>
          {% endfor %}
    </div>

  </body>

</html>
