<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="left-block">
              <div class="title-heading">
                  {{ page.title }}
              </div>
              <div class="actual-content">
                  {{ content }}
              </div>
              <div class="page-comment">
                {% include comments.html %}
            </div>
      </div>
      <div class="other-content">
          <div class="heading">Categories</div>
          {% for category in site.categories %}
             <div class="category"> {{ category[0] }} </div>
          {% endfor %}

          <div class="heading">Posts related to</div>
          <div class="related-post">
              {% for category in page.categories %}
                  {% for post in site.categories[category] %}
                        <a href="{{ post.url | prepend: site.baseurl }}"><div class="related-posts">{{ post.title }} ... </div></a>
                  {% endfor %}
              {% endfor %}
          </div>
    </div>

  </body>

</html>
